// Desktop
@media all and (min-width: 768px) {
  .view-display-id-block_homepage_featured_content {
    max-width: $desktop-max-width;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;

    > .view-content {
      width: span(6 of 12);
      display: inline-block;
      font-size: 1rem;
    }

    > .attachment {
      width: span(6 of 12);
      display: inline-block;
      margin-left: gutter();
      font-size: 1rem;
    }
  }

  .view-display-id-attachment_homepage_featured_content {
    margin-top: 0;

    > .view-content {
      .views-row {
        width: span(3 of 6);
      }
    }
  }

  main {
    .layout-content {
      width: span(6 of 12);
      float: left;
      margin-left: span(3 wide);
    }

    .layout-sidebar-first {
      width: span(3 of 12);
      float: left;
      margin-left: 0 - span(9 narrow);
    }

    .layout-sidebar-second {
      width: span(3 of 12);
      float: left;
      margin-left: gutter();
    }
  }

  @import "layout-sidebar-first";
  @import "layout-sidebar-second";
  @import "layout-no-sidebars";

  .view-display-id-page_news {
    .field--name-field-image {
      width: span(3 of 9);
      float: left;
    }

    .news-teaser-description {
      width: span(6 of 9);
      float: left;
      padding-left: gutter();
    }
  }
}
