@import 'susy-init';

$desktop-max-width: 1200px;

.region-header,
main,
.menu--main,
.region-breadcrumb,
.region-highlighted,
.region-footer,
.region-footer-bottom {
  padding: 0 1rem;
}

.region-header {
  max-width: $desktop-max-width;
  margin: 15px auto;
}

.menu--main {
  max-width: $desktop-max-width;
  margin-left: auto;
  margin-right: auto;
}

.region-breadcrumb {
  max-width: $desktop-max-width;
  margin-left: auto;
  margin-right: auto;
}

.region-highlighted {
  max-width: $desktop-max-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.view-display-id-attachment_homepage_featured_content {
  margin-top: 20px;

  > .view-content {
    .views-row {
      width: span(6 of 12);
      display: inline-block;

      &:last-child {
        margin-left: gutter();
      }
    }
  }
}

// .layout-content {
//   // background: susy-svg-grid() no-repeat scroll;
//   max-width: $desktop-max-width;
//   margin-left: auto;
//   margin-right: auto;
// }

main {
  // background: susy-svg-grid() no-repeat scroll;
  max-width: $desktop-max-width;
  margin-left: auto;
  margin-right: auto;

  .layout-content,
  .layout-sidebar-first,
  .layout-sidebar-second {
    width: span(12 of 12);
    display: block;
  }

  &::after {
    clear: both;
    content: ' ';
    display: block;
  }
}

.region-footer,
.region-footer-bottom {
  max-width: $desktop-max-width;
  margin-left: auto;
  margin-right: auto;
}

@import "desktop";
