.view-display-id-block_homepage_featured_content {
  div {
    vertical-align: top;
  }

  > .view-content {
    position: relative;

    a {
      color: #fff;
    }

    .content-description {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      background-image: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
      color: #fff;
    }

    .field--name-field-tags {
      margin-bottom: 5px;

      a {
        display: inline-block;
        background-color: #B70118;
        color: #fff;
        padding: 5px 10px;
        font-size: 0.85rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    .author-and-published-date {
      &::after {
        clear: both;
        content: ' ';
        display: block;
      }

      .field--name-field-author {
        float: left;
        padding-right: 1rem;

        > .field__item {
          &::before {
            font-family: "Font Awesome 5 Solid";
            content: '\f11c';
            padding-right: 0.25rem;
          }
        }
      }

      .field--name-node-post-date {
        float: right;

        &::before {
          font-family: "Font Awesome 5 Solid";
          content: '\f073';
          padding-right: 0.25rem;
        }
      }
    }
  }

  .field--name-field-image {
    font-size: 0;
  }

  .field--name-node-title {

  }

  .field--name-field-author {
    font-size: 0.75rem;
    font-weight: 600;
    color: #ccc;
    margin-top: 5px;

    a {
      color: #ccc;
    }
  }

  .field--name-node-post-date {
    font-size: 0.75rem;
    font-weight: 600;
    color: #ccc;
    margin-top: 5px;
  }
}

.view-display-id-attachment_homepage_featured_content {
  font-size: 0;

  > .view-content {
    .image-with-tag {
      position: relative;
    }

    .field--name-field-tags {
      position: absolute;
      bottom: 0;
      left: 0;

      a {
        display: inline-block;
        background-color: #B70118;
        color: #fff;
        padding: 5px 10px;
        font-size: 0.85rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    .field--name-node-title {
      font-size: 1rem;
      font-weight: 600;
      margin-top: 10px;
      line-height: 1.25rem;
    }

    .author-and-published-date {
      &::after {
        clear: both;
        content: ' ';
        display: block;
      }

      .field--name-field-author {
        float: left;
        padding-right: 1rem;
        font-size: 0.70rem;
        color: #666;

        a {
          color: #666;
        }

        > .field__item {
          &::before {
            font-family: "Font Awesome 5 Solid";
            content: '\f11c';
            padding-right: 0.25rem;
          }
        }
      }

      .field--name-node-post-date {
        float: right;
        font-size: 0.70rem;
        color: #666;

        &::before {
          font-family: "Font Awesome 5 Solid";
          content: '\f073';
          padding-right: 0.25rem;
        }
      }
    }
  }

  > .view-footer {
    margin-top: 1rem;

    img {
      width: 100%;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}
