ul {
  &.menu {
    margin: 0;
    padding: 0;
  }
}

.menu--main {
  .menu {
    font-size: 0;

    .menu-item {
      display: inline-block;
      // padding: 0;
      // margin: 0;
    }

    a {
      font-size: 22px;
      color: #fff;
      text-decoration: none;
      line-height: 50px;
      display: inline-block;
      padding: 0 15px;

      &.is-active {
        background-color: #B70118;
        color: #fff;
      }

      &:hover {
        background-color: #B70118;
      }
    }
  }
}

.region-primary-menu {
  background-color: #D0021B;
  // height: 50px;
}

ul {
  &.tabs {
    border-bottom: 2px solid #eee;
    margin-bottom: 1.25rem;

    &::after {
      clear: both;
      content: ' ';
      display: block;
    }

    li {
      margin: 0 0 0.50rem 0;
      padding-right: 0.50rem;
      // border-bottom: 1px solid #eee;
      float: left;

      &:last-child {
        padding-right: 0;
      }
    }

    a {
      padding: 0.25rem 0.5rem;
      background-color: #eee;
      // border-radius: 10px 10px 0 0;

      &.is-active {
        background-color: #444;
        color: #eee;
      }

      &:hover {
        background-color: #444;
        color: #eee;
      }
    }
  }
}
